# Python BMI Calculator Coding Challenge

In [1]:
# Importing python librery
import pandas as pd

In [2]:
# reading json data from local system, same directory
df=pd.read_json (r'data.json')
df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

## Formula 1 - BMI

BMI(kg/m ) = mass(kg) / height(m)
The BMI (Body Mass Index) in (kg/m2 ) is equal to the weight in kilograms (kg) divided by your height in meters squared (m)2
Example: if you are 175cm (1.75m) in height and 75kg in weight, you can calculate your BMI as follows: 75kg / (1.75m2) = 24.49kg/m2

In [3]:
# creating one extra column (Heightm) based on HeightCm
# as per formula 1
df["Heightm"]=df["HeightCm"]/100
df

   Gender  HeightCm  WeightKg  Heightm
0    Male       171        96     1.71
1    Male       161        85     1.61
2    Male       180        77     1.80
3  Female       166        62     1.66
4  Female       150        70     1.50
5  Female       167        82     1.67

## Table 1 - BMI Category and the Health Risk.

BMI Category          Challenge BMI Range (kg/m2)          Health risk           

Underweight               18.4 and below                   Malnutrition risk
Normal weight             18.5 - 24.9                      Low risk
Overweight                25 - 29.9                        Enhanced risk
Moderately obese          30 - 34.9                        Medium risk  
Severely obese            35 - 39.9                        High risk
Very severely obese       40 and above                     Very high risk

In [4]:
# creating an empty list for storing the result
lst=[]
# BodyMassIndex function for the application
def BodyMassIndex(weight, height):
    Category=''
    risk=''
    # BMI formula
    bmi = round(weight/(height*height),2)
    # checking BMI Category and Health risk based on BMI (from table 1)
    if bmi<=18.4:
        Category="Under weight"
        risk="Malnutrition risk"
    elif bmi>=18.5 and bmi<=24.9:
        Category="Normal weight"
        risk="Low risk"
    elif bmi>=25 and bmi<=29.9:
        Category="Over weight"
        risk="Enhanced risk"
    elif bmi>=30 and bmi<=34.9:
        Category="Moderately obese"
        risk="Medium risk"
    elif bmi>=35 and bmi<=39.9:
        Category="Severely obese"
        risk="High risk"
    else:
        Category="Very Severely obese"
        risk="Very High risk"
    # list uapdate    
    lst.append([bmi,Category,risk])

In [5]:
# loop through all values of WeightKg and Heightm column
for i in range(len(df)):
    # BodyMassIndex function call 
    BodyMassIndex(df.loc[i,"WeightKg"],df.loc[i,"Heightm"])
# creating 3 column-based output dataframe    
output_df = pd.DataFrame(lst, columns = ['BMI', 'BMI Category', 'Health risk'])

In [6]:
# printing output result
output_df

     BMI      BMI Category    Health risk
0  32.83  Moderately obese    Medium risk
1  32.79  Moderately obese    Medium risk
2  23.77     Normal weight       Low risk
3  22.50     Normal weight       Low risk
4  31.11  Moderately obese    Medium risk
5  29.40       Over weight  Enhanced risk

# Done